# AUTH_MODULE
SECRET_KEY=
JWT_SECRET=
## GitHub OAuth - получите новые ключи после отзыва старых
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
## Yandex OAuth - получите новые ключи после отзыва старых
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
##НЕ МЕНЯТЬ (хотя это не на что не влияет)
MONGO_URI=mongodb://localhost:27017/
OAUTHLIB_INSECURE_TRANSPORT=1
#POSTGRESQL
POSTGRES_PASSWORD=123456
#NGINX
AUTH_SUBDOMAIN=
MOODLE_SUBDOMAIN=

TOKEN= 8225871746:AAFaiBY79eqAPRBI8B3fqXrRST7dKHXS4Lg