version: '3.8'

services:
  nginx:
    image: nginx:alpine
    depends_on: 
      - auth_module
      - web_app
    ports:
      - "80:80"  # Только HTTP пока
    volumes:
      - ./nginx/weball.conf.template:/etc/nginx/templates/weball.conf.template
      - ./www-html:/var/www/html  # Локальная папка
    command: nginx -g 'daemon off;'
    restart: unless-stopped
    networks:
      - app-network

  redis_web:
    image: redis:8.4.0-alpine
    restart: unless-stopped
    command: redis-server --save 20 1 --loglevel warning --bind 0.0.0.0
    networks:
      - app-network

  web_app:
    depends_on:
      - redis_web
    build: src/web_module
    restart: unless-stopped
    environment:
      - REDIS_HOST=redis_web
      - REDIS_PORT=6379
    networks:
      - app-network

  tg_core:
    build: src/tg_bot_module
    restart: unless-stopped
    depends_on:
      - redis_web
      - postgres
      - mongodb
    environment:
      - TOKEN=8225871746:AAFaiBY79eqAPRBI8B3fqXrRST7dKHXS4Lg
      - REDIS_HOST=redis_web
      - REDIS_PORT=6379
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=poll_system
      - MONGODB_HOST=mongodb
      - MONGODB_PORT=27017
    networks:
      - app-network

  postgres:
    image: postgres:18.1-alpine3.23
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: poll_system
    networks:
      - app-network

  sql_module:
    build: src/sql_module
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - app-network
    environment:
      DATABASE_URL: host=postgres user=postgres password=123456 dbname=poll_system sslmode=disable
    ports:
      - "8080:8080"

  mongodb:
    image: mongo:latest
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    command: mongod --bind_ip_all
    networks:
      - app-network
    volumes:
      - mongodb_data:/data/db

  auth_module:
    build: src/auth_module
    depends_on:
      - mongodb
    environment:
      MONGO_URI: mongodb://root:example@mongodb:27017
      GITHUB_CLIENT_ID: test
      GITHUB_CLIENT_SECRET: test
      YANDEX_CLIENT_ID: test
      YANDEX_CLIENT_SECRET: test
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
