* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    background-color: rgb(199, 199, 199);
}

.sign-in{
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px gray;
  padding: 20px; 
  font-size: 20px;
  font-weight: 20px;
  /* толщина шрифта */
  background-color: rgb(101, 178, 102);
  height: max-content;
}

.sign-in input{
    width: 100%;
    box-sizing: border-box;
    /* выравнивание при отступе */
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    box-shadow:  0px 0px 2px gray;
}


.loginButton{
    color: white;
    background-color: rgb(28, 71, 189);
    cursor: pointer;
}

.loginButton:hover{
    border: 0px solid rgb(28, 71, 189);
    color: rgb(28, 71, 189);
    background-color: white;
}


.loginButtonYandex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    margin: 5px 0px;
    background: linear-gradient(to bottom, #fcc521, #f0b90f);
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.loginButtonYandex:hover {
    background: linear-gradient(to bottom, #f0b90f, #e0a900);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.Yandex-icon {
    width: 40px;
    height: 20px;
    filter: brightness(0) saturate(100%);
    display: flex;
    justify-content: flex-start;
}
.loginButtonGithub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    margin: 5px 0px;
    background: linear-gradient(to bottom, #fcc521, #f0b90f);
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.loginButtonGithub:hover {
    background: linear-gradient(to bottom, #f0b90f, #e0a900);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.Github-icon {
    width: 40px;
    height: 20px;
    filter: brightness(0) saturate(100%);
    display: flex;
    justify-content: flex-start;
}


 