@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:wght@300..900&display=swap");
:root {
  --font-family-main: "Rubik", sans-serif;
  --font-family-second: "Inter", sans-serif;

  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-small: 16px;
  --font-size-medium: 21px;
  --font-size-big: 24px;
  --font-size-h1: 44px;
  --font-size-h2: 28px;

  --background-color-white: #ffffff;
  --background-color-gray: #eeeeee;
  --background-color-light-blue: #f1f6fb;
  --background-color-blue: #26a0df;
  --background-color-border-grey-radio: #9CA3AF;
  --background-color-center-radio: #d2d5da;

  --color-black: #000000;
  --color-black-alfa: rgba(0, 0, 0, 0.5);
  --color-white: #fafafa;

  --padding-timer: 16px;
  --padding-button-small: 24px;
  --padding-answer: 32px;
  --padding-small: 36px;
  --padding-left-info-panel: 40px;
  --padding-medium: 48px;
  --padding-large: 72px;

  --gap-extra-small: 16px;
  --gap-small: 20px;
  --gap-medium: 24px;
  --gap-large: 32px;
  --gap-extra-large: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

main {
  font-family: var(--font-family-main);
  color: var(--color-black);
  background-color: var(--color-white);
}

.base {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-medium);
}

.wrapper {
  margin: 0 auto;
  width: 62.5%;

}

.base-flex-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.bread-crumbs-list {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  font-size: var(--font-size-small);
}

.bread-crumbs-item {
  display: flex;
  align-items: center;
}

.bread-crumbs-item a {
  text-decoration: underline;
  color: var(--color-black-alfa);
}

.headers {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.headers h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  gap: var(--gap-small);
  line-height: 120%;
}

.headers h2 {
  font-size: var(--font-size-h2);
  line-height: 120%;
  font-weight: 400;
  color: var(--color-black-alfa);
}

.question-container {
  border: 2px solid #000;
  border-radius: 35px;
  padding: var(--padding-button-small) var(--padding-medium);
  background-color: var(--background-color-light-blue);
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.question-title {
  font-size: var(--font-size-big);
  line-height: 167%;
  text-align: justify;
}

.answers-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
  font-family: var(--font-family-second);
  padding-left: var(--padding-answer);
}

.answer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.answer-item label {
   font-size: 18px;
   line-height: 26px;
}

/* Скрываем стандартные радиокнопки */
input[type="radio"] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}

/* Стиль для обетки вокруг радиокнопки */
input[type="radio"] + label {
   position: relative;
   padding-left: 35px;
   cursor: pointer;
}

/* Стиль для внешнешо кружка */
input[type="radio"] + label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 24px;
   height: 24px;
   border: 2px solid var(--background-color-border-grey-radio);
   border-radius: 50%;
   background-color: var(--background-color-white);
   transition: 0.3s;
}

input[type="radio"]:checked + label::before {
   background-color: var(--background-color-blue);
   border: 2px solid var(--background-color-blue);
}

/* Cтиль для актив кружка */
input[type="radio"] + label::after {
   content: "";
   position: absolute;
   left: 8px;
   top: 50%;
   transform: translateY(-50%);
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: var(--background-color-center-radio);
   transition: 0.3s;
}

input[type="radio"]:checked + label::after {
   background-color: var(--background-color-white);
}

.info-panel{
   background-color: var(--background-color-gray);
   padding: var(--padding-medium) 0px;
}

.info-panel-flex-container{
   display: flex;
   align-items: center;
   gap: var(--gap-extra-large);
   padding-left: var(--padding-left-info-panel);
}

.timer{
  background-color: var(--background-color-white);
  padding: var(--padding-timer);
  border-radius: 10px;
}

#currentQuestion{
  border-radius: 15px;
  padding: 6px 12px;
  background-color: var(--background-color-white);
}

.next-button{
  background-color: var(--background-color-blue);
  border-radius: 10px;
  padding: 24px 48px;
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  border: none;
  outline: none;
  display: flex;
  gap: 10px;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  align-items: center;
}

.next-button:hover{
  background-color: #3bac6f;
  transition: 0.3s;
}

@media screen and (max-width: 1366px) {
  .base-flex-container {
    gap: var(--gap-large);
  }

  
}