<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/login/static/style_auth.css">
</head>
<body>
    <div class="">
        <div class="header">
            </div>
            <div class="header-right">
                <button class="login-btn">{% block Button_top_right %}{% endblock %}</button>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        {% block card_form %}{% endblock %}
        {% block card_insta_login %}{% endblock %}
    </div>
        
</body>
</html>

